
.vs/muparser/v16/.suo
*.db
*.db-shm
*.opendb
*.db-wal
*.ipch
.vs/*
build/*
out/*
CMakeSettings.json
CMakeFiles/*
libmuparser.so*
CMakeCache.txt
Makefile
muparser-targets.cmake
muparser.pc
muparserConfig.cmake
muparserConfigVersion.cmake
t_ParserTest
example1
example2
DartConfiguration.tcl
cmake_install.cmake
CTestTestfile.cmake
gitlog.log
